@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background-color: #fff;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left-side {
  position: relative;
  background-color: #003147;
  padding: 40px;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}

.profile h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.image-box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  padding: 20px;
}

.contact .left-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact ul {
  position: relative;
}

.contact ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
}

.contact ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.contact ul li span {
  color: #fff;
  font-weight: 300;
  font-size: 0.8em;
}
.contact ul li span a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.education li {
  margin-bottom: 15px;
}

.education h5 {
  color: #03a9f4;
  font-weight: 500;
}

.contact h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.contact h4 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.language .percent {
  position: relative;
  display: block;
  width: 100%;
  height: 6px;
  margin-top: 5px;
  background-color: #081921;
}

.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #03a9f4;
}

.right-side {
  position: relative;
  background-color: #fff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.about p {
  color: #333;
}

.right-title {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year-company {
  min-width: 150px;
}

.about .box .year-company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.skills .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #03a9f4;
}

.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
  list-style: none;
  color: #333;
  font-weight: 500;
  margin: 10px 0;
}

.interest ul li .fa {
  color: #03a9f4;
  font-size: 18px;
  width: 20px;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }

  .about .box .year-company {
    margin-bottom: 5px;
  }

  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
